<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TxDot.Web.Services.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <TxDot.Web.Services.Properties.Settings>
            <setting name="MyPlates_Tx_TxDot_WebServices_Proxy_RtsAdmService_RtsAdmServiceService"
                serializeAs="String">
                <value>http://wt-rts-ts1:8583/RTSPOSProject/services/RtsAdmService</value>
            </setting>
            <setting name="MyPlates_Tx_TxDot_WebServices_Proxy_RtsInvService_RtsInvServiceService"
                serializeAs="String">
                <value>http://wt-rts-ts1:8583/RTSPOSProject/services/RtsInvService</value>
            </setting>
            <setting name="MyPlates_Tx_TxDot_WebServices_Proxy_RtsTransService_RtsTransServiceService"
                serializeAs="String">
                <value>http://wt-rts-ts1:8583/RTSPOSProject/services/RtsTransService</value>
            </setting>
        </TxDot.Web.Services.Properties.Settings>
    </applicationSettings>
</configuration>