<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" />
    <section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="securityCryptographyConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Security.Cryptography.Configuration.CryptographySettings, Microsoft.Practices.EnterpriseLibrary.Security.Cryptography, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="UsasSettings" type="MyPlates.Tx.Carts.UsasConfigurationSectionHandler, MyPlates.Tx.Carts, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" />
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
        <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
          <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere" />
          <section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
          <section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
          <section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <loggingConfiguration name="Logging Application Block" tracingEnabled="true"
    defaultCategory="" logWarningsWhenNoCategoriesMatch="false">
    <listeners>
      <add databaseInstanceName="LoggingConnectionString" writeLogStoredProcName="WriteLog"
        addCategoryStoredProcName="AddCategory" formatter="Text Formatter"
        listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Database.Configuration.FormattedDatabaseTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging.Database, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        traceOutputOptions="DateTime" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.Database.FormattedDatabaseTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging.Database, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        name="Database Trace Listener" />
      <add toAddress="john@myplates.com" fromAddress="admin@myplates.com"
        subjectLineStarter="MyPlates Notification" subjectLineEnder=""
        smtpServer="mpsbs" smtpPort="25" formatter="Text Formatter"
        listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.EmailTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        traceOutputOptions="None" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.EmailTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        name="Email TraceListener" />
    </listeners>
    <formatters>
      <add template="Timestamp: {timestamp}&#xD;&#xA;Message: {message}&#xD;&#xA;Category: {category}&#xD;&#xA;Priority: {priority}&#xD;&#xA;EventId: {eventid}&#xD;&#xA;Severity: {severity}&#xD;&#xA;Title:{title}&#xD;&#xA;Machine: {machine}&#xD;&#xA;Application Domain: {appDomain}&#xD;&#xA;Process Id: {processId}&#xD;&#xA;Process Name: {processName}&#xD;&#xA;Win32 Thread Id: {win32ThreadId}&#xD;&#xA;Thread Name: {threadName}&#xD;&#xA;Extended Properties: {dictionary({key} - {value}&#xD;&#xA;)}"
        type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        name="Text Formatter" />
    </formatters>
    <categorySources>
      <add switchValue="All" name="Exceptions">
        <listeners>
          <add name="Database Trace Listener" />
        </listeners>
      </add>
      <add switchValue="All" name="Information">
        <listeners>
          <add name="Database Trace Listener" />
        </listeners>
      </add>
      <add switchValue="All" name="Notification">
        <listeners>
          <add name="Email TraceListener" />
        </listeners>
      </add>
      <add switchValue="All" name="WebService Call">
        <listeners>
          <add name="Database Trace Listener" />
        </listeners>
      </add>
      <add switchValue="All" name="WebService Error">
        <listeners>
          <add name="Database Trace Listener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="All" name="Logging Errors &amp; Warnings" />
    </specialSources>
  </loggingConfiguration>
  <exceptionHandling>
    <exceptionPolicies>
      <add name="Log">
        <exceptionTypes>
          <add type="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
            postHandlingAction="NotifyRethrow" name="Exception">
            <exceptionHandlers>
              <add logCategory="Exceptions" eventId="100" severity="Error"
                title="Enterprise Library Exception Handling" formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.XmlExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                priority="0" useDefaultLogger="true" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                name="Logging Handler" />
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
    </exceptionPolicies>
  </exceptionHandling>
  <dataConfiguration defaultDatabase="MyPlatesConnectionString" />
  <connectionStrings>
    <add name="ASPNetDBConnectionString" connectionString="Data Source=MPSQL01;Initial Catalog=aspnetdb;Persist Security Info=True;User ID=MyPlatesApp;Password=myplates.c0m"
      providerName="System.Data.SqlClient" />
    <add name="LoggingConnectionString" connectionString="Data Source=MPSQL01;Initial Catalog=Logging;Persist Security Info=True;User ID=MyPlatesApp;Password=myplates.c0m"
      providerName="System.Data.SqlClient" />
    <add name="MyPlatesConnectionString" connectionString="Data Source=MPSQL01;Initial Catalog=MyPlates;Persist Security Info=True;User ID=MyPlatesApp;Password=myplates.c0m"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <securityCryptographyConfiguration>
    <symmetricCryptoProviders>
      <add algorithmType="System.Security.Cryptography.RijndaelManaged, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        protectedKeyFilename="C:\MyPlatesConfig\MyPlatesSymmetricKey.key"
        protectedKeyProtectionScope="LocalMachine" type="Microsoft.Practices.EnterpriseLibrary.Security.Cryptography.SymmetricAlgorithmProvider, Microsoft.Practices.EnterpriseLibrary.Security.Cryptography, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        name="RijndaelManaged" />
    </symmetricCryptoProviders>
  </securityCryptographyConfiguration>
  <UsasSettings>
    <TxDotGeneralRevenue UsasDepositFund="" UsasProjectCostAccount="99906" UsasComptrollerObject="3014" UsasAgencyObject="" UsasDepositAgency="" UsasTransactionCode="188" UsasIndex="" />
    <TxDotYearlyPlateFee UsasDepositFund="" UsasProjectCostAccount="06991" UsasComptrollerObject="3014" UsasAgencyObject="" UsasDepositAgency="" UsasTransactionCode="195" UsasIndex="" />
    <MyPlatesIn UsasDepositFund="" UsasProjectCostAccount="06992" UsasComptrollerObject="3014" UsasAgencyObject="" UsasDepositAgency="" UsasTransactionCode="195" UsasIndex="" />
    <MyPlatesOut UsasDepositFund="" UsasProjectCostAccount="11719" UsasComptrollerObject="7299" UsasAgencyObject="" UsasDepositAgency="" UsasTransactionCode="265" UsasIndex="" UsasVmc="000" UsasVnum="12619971935" />
    <ePayIn UsasDepositFund="" UsasProjectCostAccount="97768" UsasComptrollerObject="3879" UsasAgencyObject="" UsasDepositAgency="" UsasTransactionCode="179" UsasIndex="" />
    <ePayOut UsasDepositFund="" UsasProjectCostAccount="97768" UsasComptrollerObject="7219" UsasAgencyObject="" UsasDepositAgency="" UsasTransactionCode="265" UsasIndex="" />
  </UsasSettings>
  <appSettings file="uat.config">
    <add key="DefaultState" value="TX" />
    <add key="DefaultSymmetricProvider" value="RijndaelManaged" />
    <add key="TxDotWSAction-CountyInfo" value="31" />
    <add key="TxDotWSCaller" value="MPI" />
    <add key="TxDotWSAction-CheckAvailability" value="76" />
    <add key="TxDotWSAction-HoldPlate" value="74" />
    <add key="TxDotWSAction-OrderPlate" value="81" />
    <add key="ePayHashSecret" value="Uuv%5jG!@t310&amp;" />
    <add key="ePayVendorID" value="11601005" />
    <add key="ePayHashAlgorithm" value="SHA-1" />
    <add key="ePayURL" value="https://staging.epay.ktransactions.com/epay/PayRequest" />
    <add key="TraceNumLicensePlatePrefix" value="601VP" />
    <add key="TxDotWSAction-GetPlateTypes" value="33" />
    <add key="TxDotWSAction-RenewHold" value="71" />
    <add key="TxDotWSAction-CancelHold" value="72" />
    <add key="TxDotWSAction-HoldReservedPlate" value="75" />
    <add key="TxDotWSAction-OrderReservedPlate" value="85" />
    <add key="TxDotWS-VersionNo" value="0" />
    <add key="TxDotWS-OrgNo" value="0" />
    <add key="TxDotWS-ItmYr" value="0" />
    <add key="TxDotWS-PLP-Flag" value="true" />
    <add key="TxDotWS-RtsAdmService-URL" value="http://wt-rts-ts1:8588/RTSPOSProject/services/RtsAdmService" />
    <add key="TxDotWS-RtsInvService-URL" value="http://wt-rts-ts1:8588/RTSPOSProject/services/RtsInvService" />
    <add key="TxDotWS-RtsTransService-URL" value="http://wt-rts-ts1:8588/RTSPOSProject/services/RtsTransService" />
    <add key="SSRS-WS-ReportService-URL" value="http://172.25.0.134/ReportServer/ReportService2005.asmx" />
    <add key="SSRS-WS-ReportExecution-URL" value="http://172.25.0.134/ReportServer/ReportExecution2005.asmx" />
    <add key="SSRS-WS-Domain" value="MYPLATES" />
    <add key="SSRS-WS-UserName" value="MyPlatesWebUser" />
    <add key="SSRS-WS-Password" value="MyPl8ts" />
    <add key="ReceiptReportName" value="/Reports/Receipt" />
    <add key="ReceiptReportAttachmentFilename" value="OrderReceipt[orderid]" />
    <add key="DefaultPaymentType" value="CC" />
    <add key="DefaultBillingCountry" value="US" />
    <add key="DefaultUsername" value="INTERNET USER" />
    <add key="DefaultWebServiceErrorCode" value="-6428" />
    <add key="ISASymbol" value="%" />
    <add key="emailConfirmationEnabled" value="true" />
    <add key="emailServer" value="mpsbs" />
    <add key="emailPort" value="25" />
    <add key="emailFromAddress" value="john@myplates.com" />
    <add key="emailFromName" value="MyPlates" />
    <add key="emailToDefaultAddress" value="" />
    <add key="emailToDefaultName" value="" />
    <add key="emailSubject" value="My Plates Order Confirmation" />
    <add key="emailForQuestions" value="bjorn@myplates.com" />
    <add key="imageServer" value="tst.myplates.com" />
    <add key="maxInvalidPaymentAttempts" value="3" />
    <add key="EPayFeePercentage" value="2.25" />
    <add key="EPayTransactionFee" value="0.25" />
    <add key="maintenanceWindowStart" value="04:25:00" />
    <add key="maintenanceWindowEnd" value="05:00:00" />
  </appSettings>
  <location path="CSR">
    <system.web>
      <authorization>
        <allow users="jvaran, sjones, bwilmot, jhorne, ajohns, agonzalez, crea, rhernandez, rallred, evasquez, bmcferren, dbell, jtrantham" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Admin">
    <system.web>
      <authorization>
        <allow users="jvaran, sjones, bwilmot, jhorne" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <system.web>
    <authentication mode="Forms">
      <forms name="SqlAuthCookie" loginUrl="/Login.aspx" timeout="60" />
    </authentication>
    <authorization>
      <allow users="*" />
    </authorization>
    <membership defaultProvider="ASPNetDBMembershipProvider">
      <providers>
        <clear />
        <add name="ASPNetDBMembershipProvider" connectionStringName="ASPNetDBConnectionString" applicationName="MyPlates" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" requiresQuestionAndAnswer="false" />
      </providers>
    </membership>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.
        -->
    <customErrors mode="RemoteOnly" defaultRedirect="/Error.aspx">
      <error statusCode="404" redirect="/404.aspx" />
    </customErrors>
    <sessionState mode="SQLServer" sqlConnectionString="data source=MPSQL01;user id=MyPlatesApp;password=myplates.c0m" cookieless="false" timeout="60" />
    <pages>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </controls>
    </pages>
    <httpHandlers>
      <remove verb="*" path="*.asmx" />
      <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false" />
    </httpHandlers>
    <httpModules>
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </httpModules>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <providerOption name="CompilerVersion" value="v3.5" />
        <providerOption name="WarnAsError" value="false" />
      </compiler>
    </compilers>
  </system.codedom>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ScriptModule" />
      <add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </modules>
    <handlers>
      <remove name="WebServiceHandlerFactory-Integrated" />
      <remove name="ScriptHandlerFactory" />
      <remove name="ScriptHandlerFactoryAppServices" />
      <remove name="ScriptResource" />
      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>